<div>
  <h1>
    Angular WebPart
  </h1>
  <h2>
    Page Context
  </h2>
  <div>
    <div>
      <strong>Id:</strong> {{ctx.pageContext.web.id}}
    </div>
    <div>
      <strong>Title:</strong> {{ctx.pageContext.web.title}}
    </div>
    <div>
      <strong>Description:</strong> {{ctx.pageContext.web.description}}
    </div>
    <div>
      <strong>Language:</strong> {{ctx.pageContext.web.language}}
    </div>
    <div>
      <strong>Server Relative Url:</strong> {{ctx.pageContext.web.serverRelativeUrl}}
    </div>
  </div>
  <h2>
    WebPart Properties
  </h2>
  <div>
    <div>
      <strong>Description:</strong> {{properties.description}}
    </div>
  </div>
</div>
